*{
    margin: 10px;
    box-sizing: border-box;
}

body{
    background-image: url(./Imagenes/Fondo.jpg);
}

header{
    background-color: none;
}

a{
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.Indice a:hover{
    background-color: aquamarine;
    color: rgb(75, 50, 13);
}
.Indice{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
