/*
Práctica diaria 10
Juan Emilio Sánchez López
*/

*/{
    box-sizing: border-box;
    margin: 0px;
}
@font-face {
    font-family: "textoJuanEmilio";
    src: url(./Fuentes/AngerStyles.ttf);
}    
header,footer{
    background-color: brown;
    color: white

}
footer{
    display: flex;
    justify-content: space-between;
}
h1{
    text-shadow: 5px 5px 1px black
}
section{
    font-family: textojuanEmilio;
    font-size: 25px;
    box-shadow: 5px -5px 20px yellow;
    margin: 20px 10px 20px 10px;
}
main{
    display: flex;
}