*{box-sizing: border-box;}

section{
    width: 70%;
    margin: auto;
    border: dashed;
    padding: 15px;
}
ul li{
    list-style-type: none;
    background-image: url(./imagen.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
        background-position-x: -5px;
    padding: 0px 0px 0px 25px;
 }
 
ol ol {
    list-style-type: lower-roman;

}
.ListaDesordenada{
    background-color: bisque;

}

.ListaOrdenada{
    background-color: cornflowerblue;
}

.ListaDefinicion{
    background-color: darkgreen;    
}