/*
CSSPráctica 09
Juan Emilio

*/

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 2000px;
}

header,footer{
    background-image: linear-gradient(to bottom,red,white);
    padding: 50px;
    border: 2px solid black;    
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}